body {
  background: linear-gradient(to right, #614385, #516395);
  /* background: url("/bg.jpeg"); */
  background-repeat: no-repeat;
  background-size: cover;

}

canvas {
  height: 100vh !important;
}